django-bootstrap4
nose
ddt
Pillow
django-dbgettext
python-gettext
django-jquery
django-bootstrap-datetimepicker
django-bootstrap-datepicker-plus
Django
MarkupSafe
PasteDeploy
Pillow
PyJWT
Pygments
Tempita
TurboGears2
WebOb
asgiref
backlash
beautifulsoup4
bs4
certifi
chardet
crank
ddt
decorator
defusedxml
django-bootstrap4
django-bower
django-crispy-forms
django-dbgettext
django-jquery
django-scheduler
entrypoints
feedparser
flake8
functions
gearbox
httplib2
hupper
icalendar
idna
mccabe
mock
nose
npm
null
numpy
oauthlib
optional-django
pandas
pip
public
pycodestyle
pydocstyle
pyflakes
python-dateutil
python-gettext
python-social-auth
python3-openid
pytz
repoze.lru
requests
requests-oauthlib
rss-reader
self
setuptools
six
snowballstemmer
social-auth-core
soupsieve
sqlparse
tg.devtools
tgext.debugbar
urllib3
wheel

